.formWizard .page-nav-panel ul,
.formWizard .page-nav-panel li{
    list-style: none;
}

.formWizard .page-nav-panel .nav_item button{
    background:transparent;
    border:0;
    cursor:pointer;
    color: #BBB
}

.formWizard .page-nav-panel .nav_item.current button{
    font-weight: bold;
    color: #000;
}

.formWizard.wizard .page-nav-panel .nav_item{
    float:left;
}

.formWizard.tab .page-nav-panel .nav_item{
    float:left;
}

.formWizard.wizard .page-nav-panel .nav_item{
    float:left;
    background:#fff url(images/arrow_right.png) no-repeat right center;
    padding-right:15px;
}

.formWizard.wizard .page-nav-panel .nav_item:last-child{
    background-image:none;
}

.formWizard.wizard .page-nav-panel button{
    float:left;
    border:0;
}

.formWizard.tab .page-nav-panel .nav_item button{
    float:left;
    background:#eee;
    margin: 0 1px;
    padding: 5px;
    border: 1px solid #eee;
    border-bottom: 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -khtml-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.formWizard.tab .page-nav-panel .nav_item.current button{
    background:#FFF;
    color:#000;
    margin-bottom: -2px;
    padding-bottom: 7px;
}

.formWizard.tab .page-nav-panel{
    border-bottom: 2px solid #eee;
    margin-bottom: 5px;
}

.formWizard .page-button-panel{
    text-align:right;
}

.formWizard .page-nav-panel.bottom{
    display:none;
}

.mpf-container .subform-section{
    background:transparent;
}

.formWizard .page-nav-panel .nav_item.error button span{
    color: red;
}

@media (max-width: 767px) {
    .formWizard .page-nav-panel.bottom{
        display:block;
    }
    
    .formWizard .page-nav-panel ul {
        padding:0;
        margin:0;
    }
    
    .formWizard .page-button-panel,
    .formWizard .page-nav-panel.top ul li.after,
    .formWizard .page-nav-panel.bottom ul li.current,
    .formWizard .page-nav-panel.bottom ul li.before{
        display:none;
    }
    
    .formWizard.wizard .page-nav-panel,
    .formWizard.tab .page-nav-panel{
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    
    .formWizard.wizard .page-nav-panel .nav_item,
    .formWizard.tab .page-nav-panel .nav_item{
        float:none;
        display:block;
        background: none;
        padding-right:0;
    }
    
    .formWizard.wizard .page-nav-panel .nav_item button,
    .formWizard.tab .page-nav-panel .nav_item button{
        text-align:left;
        float:none;
        display:block;
        width: 100%;
        background: #f5f5f5;
        border:#ddd solid 1px;
        padding:8px;
        margin:0;
        margin-bottom: 3px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -khtml-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .formWizard.wizard .page-nav-panel .nav_item.current button:disabled,
    .formWizard.tab .page-nav-panel .nav_item.current button:disabled,
    .formWizard.wizard .page-nav-panel .nav_item.current button,
    .formWizard.tab .page-nav-panel .nav_item.current button{
        background: #f5f5f5;
        color:#000 ;
        font-weight: bold;
        margin-bottom: 0px;
        padding-bottom: 8px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -khtml-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;
    }
    
    .formWizard .page-container {
        border:#ddd solid 1px;
        border-top:0px;
        padding: 5px;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 3px;
    }
}
